apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: chf-server
  namespace: crm
  labels:
    user: chf
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: server
        user: chf
    spec:
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: data-pv-claim
      containers:
      - name: server
        image: evilben/fluidmedia_crm:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
            protocol: TCP
        env:
        - name: DB_USER
          value: chf_crm
        - name: DB_NAME
          value: chf_crm
        - name: CLIENT_NAME
          value: "CHF"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: chf-db-pass
              key: pass
        - name: DB_HOST
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        volumeMounts:
        - name: data
          mountPath: /data
        args: ["/fluidmedia_crm"]
---
apiVersion: v1
kind: Service
metadata:
  namespace: crm
  name: chf-server
  labels:
    app: server
    user: chf
spec:
  selector:
    app: server
    user: chf
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: chf-server
  namespace: crm
  labels:
    app: server
    user: chf
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  tls:
  - hosts:
    - "crm.chf.uk.com"
    secretName: chf-server-tls
  rules:
  - host: "crm.chf.uk.com"
    http:
      paths:
      - path: "/"
        backend:
          serviceName: chf-server
          servicePort: 8080
