apiVersion: v1
kind: Namespace
metadata:
  name: crm
---
piVersion: v1
kind: Endpoints
metadata:
  name: glusterfs-cluster
  namespace: crm
subsets:
  - addresses:
    - ip: 138.201.93.184
    ports:
    - port: 1
  - addresses:
    - ip: 88.99.122.54
    ports:
    - port: 1
  - addresses:
    - ip: 195.201.58.86
    ports:
    - port: 1
---
apiVersion: v1
kind: Service
metadata:
  name: glusterfs-cluster
  namespace: crm
spec:
  ports:
  - port: 1
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: server
  namespace: crm
  labels:
    user: fluid
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: server
        user: fluid
    spec:
      volumes:
      - name: data
        glusterfs:
          endpoints: glusterfs-cluster
          path: kubes-pv
      containers:
      - name: server
        image: evilben/fluidmedia_crm:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
            protocol: TCP
        env:
        - name: DB_USER
          value: fluidmedia_crm
        - name: DB_NAME
          value: fluidmedia_crm
        - name: CLIENT_NAME
          value: "Fluid Media"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: fluidmedia-db-pass
              key: pass
        - name: DB_HOST
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        args: ["/fluidmedia_crm"]
        volumeMounts:
        - name: data
          mountPath: /data
          subPath: crm/data
---
apiVersion: v1
kind: Service
metadata:
  namespace: crm
  name: server
  labels:
    app: server
    user: fluid
spec:
  selector:
    app: server
    user: fluid
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: server
  namespace: crm
  labels:
    app: server
    user: fluid
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  tls:
  - hosts:
    - "crm.fluidmedia.wales"
    secretName: server-tls
  rules:
  - host: "crm.fluidmedia.wales"
    http:
      paths:
      - path: "/"
        backend:
          serviceName: server
          servicePort: 8080
