{{ define "partials/menu" }}
<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        {{ range .Pages }}
            {{ if (and .InMenu (or (and $.User.IsAdmin .AdminRequired) (not .AdminRequired))) }}
                <li {{ if (eq .Path $.Page.Path) }}class="active"{{ end }}>
                    <a href="{{ .Path }}">
                        <i class="material-icons">{{ .Icon }}</i>
                        <span>{{ .Title }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}