{{ define "contacts-edit" }}
{{ template "header" . }}

<section class="content">
    <div class="container-fluid">
        <form action="" method="post">
            <div class="row">
                <div class="card">
                    <div class="header">
                        <h2>Profile</h2>
                    </div>
                    <div class="body table-responsive">
                        <div class="col-sm-2">
                            <img src="/static/images/{{ .Context.Image }}" class="img-circle" style="width: 100%" alt="">
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <div class="form-line form-group-lg form-float">
                                    <input class="form-control" name="name" type="text" value="{{ .Context.Name }}">
                                    <label class="form-label">Name</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control" name="email" type="text" value="{{ .Context.Email }}">
                                    <label class="form-label">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="right">
                        <button type="submit" class="btn btn-lg bg-indigo waves-effect">
                            <i class="material-icons">save</i>
                            <span>SAVE</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{{ template "footer" . }}
{{ end }}