{{ define "index" }}
{{ template "header" . }}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="info-box-3 bg-deep-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="content">
                        <div class="text">UNCONTACTED LEADS</div>
                        <div class="number">{{ .Context.UncontactedLeads }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="info-box-3 bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="content">
                        <div class="text">UNCONTACTED OPPORTUNITIES</div>
                        <div class="number">{{ .Context.UncontactedOpportunities }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "footer" . }}
{{ end }}