{{ define "organisations-edit" }}
{{ template "header" . }}

<section class="content">
    <div class="container-fluid">
        <form action="" method="post">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Organisation</h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-2">
                                    <img src="/static/images/{{ .Context.Organisation.Image }}" class="img-circle" style="width: 100%" alt="">
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <div class="form-line form-group-lg">
                                            <input class="form-control" name="name" type="text" value="{{ .Context.Organisation.Name }}" required>
                                            <label class="form-label">Name</label>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" name="email" type="email" value="{{ .Context.Organisation.Email }}">
                                            <label class="form-label">Email</label>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" name="phone" type="text" value="{{ .Context.Organisation.Phone }}">
                                            <label class="form-label">Phone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Social</h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <div class="form-line">
                                            <input class="form-control" name="twitter" type="text" value="{{ .Context.Organisation.Twitter }}" placeholder="Twitter">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">web</i></span>
                                        <div class="form-line">
                                            <input class="form-control" name="website" type="url" value="{{ .Context.Organisation.Website }}" placeholder="Website">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Address</h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea name="address" rows="5" class="form-control no-resize">{{ .Context.Organisation.Address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Description</h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea name="desc" rows="10" class="form-control no-resize">{{ .Context.Organisation.Description }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-b-20">
                    <div class="right">
                        <button type="submit" class="btn btn-lg bg-indigo waves-effect">
                            <i class="material-icons">save</i>
                            <span>SAVE</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{{ template "footer" . }}
{{ end }}